.app.dark{
    background-color: #222;
    color: rgb(156, 156, 156);

    .chartGrid{
        stroke: rgba(288,288,288,0.219);
    }

    .table{
        background-color: #222;

        .tableCell{
            color: rgb(156,156,156);
        }
    }

    .navbar{
        color: #999;
        border-color: #333;

        .search{
            border-color: gray;
        }
    }

    .sidebar{
        background-color: #222;
        border-color: #333;

        .top{
            .logoTitle{
                color: #999;
            }
        }
        hr{
            border-color: #333;
        }

        ul{
            li{
                &:hover{
                    background-color: #333;
                }

                .icon{
                    color: #999;
                }
            }
        }
    }

    .datatable{
        .datagrid{
            color: rgb(156,156,156);
            border: none;

            .viewButton, .deleteButton{
                color: gray;
                border: none;
                
            }
        }
    }
    
    input{
        background-color: transparent;
    }
}